<td >{{i}}</td>     <!-- <td >{{i}}</td>   -->
  <td>{{prodotto.descrizione}}</td>
  <td>{{prodotto.d_tipologia}}</td>
  <td>{{prodotto.d_categoria}}</td>
  <td [style.color]="getColor(prodotto.scorta_minima * 100 / prodotto.disponibile )">{{prodotto.disponibile}}</td>
  <td>{{prodotto.prezzo | currency:'EUR'}}</td>
  <td >{{prodotto.scorta_minima}}</td>
  <!--   volendo impostare molte proprietà
  <td [style.color]="getColor(prodotto.aMenu)"
      [style.background-color]="getbackgroundColor(prodotto.aMenu)">{{prodotto.aMenu}} </td>
      -->
  <td class="buttons">
    <div class="row">
        <div class="col-sm-2">
        <!-- (click)="showDetail()" modalità con soluzione 1 quando passavo al componente di dettaglio -->
          <button   class="btn btn-danger  btn-sm" (click)="open(content)"  >
            <fa-icon [icon]="faTrash" fixed="true"></fa-icon>

      <!--  <fa name="fainfo" fixed="true" ></fa>  -->
          </button>
        </div>
          &nbsp;
        <div class="col-sm-2">
          <button   class="btn btn-primary  btn-sm" (click)="showProdottoDetail(functionUser)"  >
                <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
            <!--  <fa name="fainfo" fixed="true" ></fa>  -->
           </button>

        </div>
    </div>
  </td>

<!--- popup per Cancellazione -->
<ng-template #content let-modal>
  <div class="modal-header modal-header-color">
    <h4 class="modal-title" id="modal-basic-title">Conferma Cancellazione Prodotto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <p>confermi la cancellazione del Prodotto &nbsp;&nbsp;</p>
      <p></p>
      <p><strong>{{prodotto.descrizione}}</strong>&nbsp;?</p>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>

    <button type="button" class="btn btn-danger btn-md " (click)="modal.close('Delete click')"> Cancella
      <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
    </button>
  </div>
</ng-template>


