

<div class="container">

  <div class="header_Inqu" *ngIf="functionInqu">
    <caption class="title_Inqu  col-md-12">{{title}}</caption>
  </div>
  <div class="header_New" *ngIf="functionNew">
    <caption class="title_New  col-sm-12">{{title}}</caption>
  </div>
  <div class="header_Edit title_Edit col-md-5" *ngIf="functionUser  ===  searchEdits   ||  functionUser  ===  searchEdit">
    <input disabled class="form-control" type="text" name="title" [(ngModel)]="title" autocomplete="off" >
     <!-- <strong>{{title}}</strong>  -->

  </div>
  <!--
  <div class="header_Edit" *ngIf="functionEdit || functionEdits">
    functionEdit: {{functionEdit}}&nbsp;&nbsp;functionEdits: {{functionEdits}}
    <caption class="title_Edit  col-md-12">{{title}}</caption>
  </div>  -->

  <div >
    <div class="col-md-auto">
      <form #fm ="ngForm"  method="POST">
        <input hidden #id="ngModel"  [(ngModel)]="giornata.id" class="form-control" name="id" id="id">
        <input hidden #key_utenti_operation="ngModel"  [(ngModel)]="giornata.key_utenti_operation" class="form-control" name="key_utenti_operation" id="key_utenti_operation">
        <!-- parte testata  disabled -->
        <!-- non visualizzo Manifestazione - risparmio una riga
        <div class="row">
            <label for="descManif" class="col-sm-2 col-form-label">Manifestazione</label>
            <div class=" col-md-6">
              <input disabled #descManif="ngModel"  [(ngModel)]="manif.descManif" class="form-control" name="descManif" id="descManif">
            </div>

            <div class=" col-md-2">

              <div>
                <input disabled #d_stato_manifestazione="ngModel"  [(ngModel)]="manif.d_stato_manifestazione" class="form-control" name="d_stato_manifestazione" id="d_stato_manifestazione" [style.color]="manif.stato == 2 ? 'red' : null">
              </div>
            </div>
        </div>   -->
        <br>
        <div class="row">
          <label for="dtGiornata" class="col-sm-2 col-form-label">Giornata</label>
          <div class=" col-md-2">
            <input readonly [(ngModel)]="giornata.dtGiornata"  [ngModel]="giornata.dtGiornata | date:'dd/MM/yyyy'" #dtGiornata="ngModel" class="form-control"  name="dtGiornata" id="dtGiornata"  >
          </div>

          <div class="col-md-2">
            <div>
              <input disabled #d_stato_giornata="ngModel"  [(ngModel)]="giornata.d_stato_giornata" class="form-control" name="d_stato_giornata" id="d_stato_giornata" [style.color]="giornata.stato == 2 ? 'red' : null">
            </div>
          </div>
        </div>
        <hr>
        <!-- totali -->
        <div class="row">

          <strong><label  class="col-sm-12 offset-6 col-form-label">Totali</label></strong>

              <label for="Tnumero" class="col-md-1 col-form-label totali">Commande</label>
              <div class=" col-md-1">
                  <input disabled class="form-control" type="text" name="Tnumero" [(ngModel)]="Tnumero" autocomplete="off" >
              </div>
              <label for="Tnumpersone" class="col-sm-1 col-form-label totali">Persone</label>
              <div class=" col-md-1">
                  <input disabled class="form-control" type="text" name="Tnumpersone" [(ngModel)]="Tnumpersone" autocomplete="off" >
              </div>
              <label for="Tcoperto" class="col-sm-1 col-form-label totali">Coperto</label>
              <div class=" col-md-1">
                  <input disabled class="form-control" type="text" name="Tcoperto" [(ngModel)]="Tcoperto" autocomplete="off" >
              </div>
              <label for="Tpagato" class="col-sm-1 col-form-label totali">Pagato</label>
              <div class=" col-md-1">
                  <input disabled class="form-control" type="text" name="Tpagato" [(ngModel)]="Tpagato" autocomplete="off" >
              </div>

        </div>


        <hr>

    <!--     da personalizzare   -->

    <div class="container-fluid">

   <!-- bottone per registrazione -->
   <div class="row">
        <div class="row col-sm-2 ">
          <button  class="btn btn-primary btn-rounded"  (click)="registra()">Registrazione
            <fa-icon [icon]="faPlusSquare"  fixed="true"></fa-icon>
          </button>
        </div>
   </div>

   <!--  originale -->
   <!--
      <div class="form-row">
        <div class="form-group col-md-12">
          <table class="table">
            <tr >
              <td class="col-md-6">
                <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
                  <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
                  </div>
              </td>
              <td class="col-md-6">
                <div class="form-row form-group col col-md-12">

                  <div class="col col-sm-1 alignicon">
                       <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
                  </div>
                  <-- riga per filtro di ricerca
                  <div class="row col-md-6">
                          <div class="search-hero">
                             <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
                        </div>
                   </div>
              </div>
              </td>
              <td  class="col-md-2">
                  <div *ngIf="trovatoRec" >
                        <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
                  </div></td>
            </tr>
          </table>
        </div>
      </div>   -->
<!-- fine  originale -->

<!--     moreno  -->

<div class="form-row">
  <div class="form-group col-md-12">
    <table class="table">
      <tr >
        <td class="col-md-6">
          <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
            <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
            </div>
        </td>
        <!--
        <td >
          <label for="tipologia" class="col-sm-1 col-form-label">Tipologia</label>
        </td>  -->
        <td class="col-md-4">

          <div class="form-group row">
            <div class="col-sm-1">
              <div class="alignicon">
                <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
              </div>
            </div>
            <div class="col-sm-8 ">
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
              </div>
            </div>
          </div>



        </td>
        <td  class="col-md-2">
            <div *ngIf="trovatoRec" >
                  <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
            </div></td>
      </tr>
    </table>
  </div>
</div>


<!--  fine moreno -->
        <div *ngIf="visibleGestione === false">


          <table class="table table-striped table-sm shadow-lg p-3 mb-5 bg-white ">

            <tr>
              <th>prog</th>
              <th>Cliente</th>
              <th>Pers</th>
              <th>tavolo</th>
              <th>Importo</th>
              <th>Action</th>
              <th></th>
              <th></th>
            </tr>

            <!-- [style.color]="prodotto.aMenu == '?' ? 'red' : null "  -->
            <tr app-commanda  *ngFor ="let commanda of commande | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
              [commanda-prog] = i+1
              [commanda-data] = "commanda">

            </tr>
          </table>
        </div>
        <div *ngIf="visibleNormale === false">
            <div class="row">
              <div class="col-md-4 ">
                <div class="form-check form-check-inline" *ngFor="let option1 of options1; let idx = index">
                  <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option1" (change)="onSelectionChange1(option1)">&nbsp; {{option1}}
                  </div>
              </div>
              Ordinamento: &nbsp;
              <div class="col-md-6">
                <div class="form-check form-check-inline" *ngFor="let option3 of options3; let idx = index">
                  <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option3" (change)="onSelectionChange3(option3)">&nbsp; {{option3}}
                  </div>
              </div>

            </div>





        </div>
        <div class="row">
          <div class="col-md-5" *ngIf="visibleCucina === true">
            <div class="form-check form-check-inline" *ngFor="let option2 of options2; let idx = index">
              <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option2" (change)="onSelectionChange2(option2)">&nbsp; {{option2}}
              </div>
          </div>

        </div>
      </div>

<!-- elenco righe prodotti in lavorazione -->
<div *ngIf="visibleInSceltaGestione === true">


  <table class="table table-striped table-sm shadow-lg p-3 mb-5 bg-white ">

    <tr>
      <th>prog</th>
      <th>Cliente</th>
      <th>Commanda</th>
      <th>Prodotto</th>
      <th>Qta</th>
      <th>Tempo</th>
      <th>Semaforo</th>
      <th></th>
    </tr>

    <!-- [style.color]="prodotto.aMenu == '?' ? 'red' : null "  -->
    <tr app-commandariga1  *ngFor ="let commandariga of commandarighe  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
      [commandariga1-prog] = i+1
      [commandariga1-data] = "commandariga">

    </tr>
  </table>
</div>


<div class="row test">
  {{messaggiotest}}
</div>





<!-- Bottoni funzionali -->
<div class="container col-md-12 offset-3">
    <div class="form-group form-footer">
      <div class="row">
        <div class="col-sm-3">
          <button class="btn btn-primary  btn-md"  (click)="backToGiornata()">Back        <!--backToUsers()-->
                <fa-icon [icon]="faHandPointLeft"></fa-icon>
          </button>
        </div>
        <!--  vedere se serve
        <div class="col-sm-3">
            <button [disabled]="nrecpersSelect !== 0" class="btn-md btn btn-info float-right"  (click)="rilasciaPersone()">Rilascia
              <fa-icon [icon]="faHandPointLeft"></fa-icon>
            </button>
        </div>  -->
      </div>
    </div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

    <!--  fine personaizzazione  -->

          <br>
      <!--   messaggio con esito operazione -->

          <div *ngIf="isVisible  && !alertSuccess" class="alert alert-danger" role="alert">
        <!--     <h4 class="alert-heading">Errore in Registrazione User</h4>   -->
            <p>{{Message}}</p>
            <hr>
            <p hidden class="mb-0" *ngIf="nRec === 0">{{Message1err}}</p>
          </div>
          <div *ngIf="isVisible  && alertSuccess" class="alert alert-success" role="alert">
      <!--       <h4 class="alert-heading">Registrazione User</h4>   -->
            <p>{{Message}}</p>
            <hr>
            <p class="mb-0"></p>
          </div>
      </form>
    </div>
  </div>

</div>



