.header_Inqu {
  background-color: blue;
  border-radius: 10px;
  border: 3px solid yellow;
  width: auto;
  margin-left: 200px;
  margin-right: 200px;
  display: block;
}

.header_Edit {
  background-color: green;
  border-radius: 10px;
  border: 3px solid yellow;
  width: auto;
  margin-left: 200px;
  margin-right: 200px;
  display: block;
  height: 70px;
}

.header_New {
  background-color: orange;
  border-radius: 10px;
  border: 3px solid black;
  width: auto;
  margin-left: 200px;
  margin-right: 200px;
  display: block;
}

.title_Inqu {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: red;
}

.title_Edit {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: yellow;

}

.title_New {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: white;
}

.img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* input.ng-invalid {border-left:5px solid red; }
input.ng-valid{border-left:5px solid green;} */

.camponumCorretto {
  border-left:5px solid green;
 }

 .camponumNonCorretto {
  border-left:5px solid red;
 }


.modal-header-color {
  background-color: red;
  color: white;
  text-align:inherit;
}

.marginGmForm {
  margin-left: 30px;
}

.borde {
  border: 3px solid white;
}

.centro {
  text-align:center;
  }
.destra {
    text-align:right;
 }


.cassaIniziale {
  color: blue;
  font-weight: bold;

}
.cassaFinale {
  color: orange;
  font-weight: bold;
}
.sbilancio {
  color: green;
  font-weight: bold;
}
.pezzature {
  color: yellow;
  background-color: green;
  font-weight: bold;
  text-align:center
}
.tagli {
  background-color:aquamarine;
  font-weight: bold;
}
.totaleday {
  background-color:lightgreen;
  border-radius: 15px;
  border: 3px solid violet;
  font-weight: bold;
  color:red;
}
