<p>gestione works!</p>

<strong>{{title}}</strong>


<div class="container">

  <div class="header_Inqu" *ngIf="functionInqu">
    <caption class="title_Inqu  col-md-12">{{title}}</caption>
  </div>
  <div class="header_New" *ngIf="functionNew">
    <caption class="title_New  col-sm-12">{{title}}</caption>
  </div>
  <div class="header_Edit title_Edit col-md-12" *ngIf="functionUser  ===  searchEdits   ||  functionUser  ===  searchEdit">
    <input disabled class="form-control" type="text" name="title" [(ngModel)]="title" autocomplete="off" >
    <strong>{{title}}</strong>

  </div>
  <!--
  <div class="header_Edit" *ngIf="functionEdit || functionEdits">
    functionEdit: {{functionEdit}}&nbsp;&nbsp;functionEdits: {{functionEdits}}
    <caption class="title_Edit  col-md-12">{{title}}</caption>
  </div>  -->

<div >
    <div class="col-md-auto">
      <form #fm ="ngForm"  method="POST">
       <input hidden #id="ngModel"  [(ngModel)]="giornata.id" class="form-control" name="id" id="id">
        <div class="row">
            <label for="dtGiornata" class="col-sm-2 col-form-label">Giornata</label>
            <div class=" col-md-2">
              <input readonly [(ngModel)]="giornata.dtGiornata"  [ngModel]="giornata.dtGiornata | date:'dd/MM/yyyy'" #dtGiornata="ngModel" class="form-control"  name="dtGiornata" id="dtGiornata"  >
            </div>

            <div class="col-md-2">
              <div>
                <input disabled #d_stato_giornata="ngModel"  [(ngModel)]="giornata.d_stato_giornata" class="form-control" name="d_stato_giornata" id="d_stato_giornata" [style.color]="giornata.stato == 2 ? 'red' : null">
              </div>
            </div>
        </div>
        <hr>
<!-- options1 (prodotti/commande )-->
        <div class="row">
          <div class="form-group col-md-3">
            <table class="table">
              <tr >
                <td>
                  <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
                    <input type="radio" name="radiogroup"  [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
                    </div>
                  </td>
              </tr>
            </table>
          </div>
          <div class="col-md-1">
            <button   class="btn btn-success btn-sm" (click)="editdatiGraph()"  >  <!--  ultimo  ancora non va  statisticaNew() -->   <!--   old1 statistica() -->
              <fa-icon [icon]="faChartLine" fixed="true"></fa-icon>
            </button>

          </div>

        </div>

        <!-- options2 (tipologia prodotti ) -----  solo per cucina -->
        <div class="container" *ngIf="visibleProdotti === true">
          <div class="row" >
              <div class="col-sm-6" *ngIf="visibleProdotti === true && enabledCucina === true">
                <div class="form-check form-check-inline" *ngFor="let option1 of optionsMenuCucina; let idx1 = index">
                  <input type="radio" name="radiogroup1"  [value]="option1" (change)="onSelectionChangeMenu(option1)">&nbsp; {{option1}}
                </div>
              </div>
              <div class="col-sm-6" *ngIf="visibleProdotti === true && enabledBevande === true">
                <div class="form-check form-check-inline" *ngFor="let option11 of optionsMenuBevande; let idx1 = index">
                  <input type="radio" name="radiogroup11"  [value]="option11" (change)="onSelectionChangeMenu(option11)">&nbsp; {{option11}}
                </div>
              </div>
              <div class="dropdown col-sm-3">
                <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedProd" ngModel name="prod" id="prod" class="form-select" required (change)="selectedProdotto($event.target.value)" aria-label="Default select example">
                  <option selected value="999"  >Seleziona il prodotto</option>
                  <option *ngFor="let prod of prodotti" [value]="prod.id"  class="form-control">{{prod.descrizione}}</option>
                </select>

              </div>
              <div *ngIf="visibleProdotti === true && trovatoRec"  class="col col-md-2 ">
                <strong>Record :</strong>&nbsp;&nbsp; {{nRecPr}}
              </div>
          </div>
        </div>


        <!--   fino a riga sopra controlli ok -->




        <div class="container" *ngIf="visibleProdotti === true && visibleProdotto === true && visibleProdottoCucina === true">
          <br>
          <div class="row">
            <div class="col-md-7" >  <!-- col-12 col-sm-6 -->
              <div class="form-check form-check-inline" *ngFor="let option2 of optionsProd; let idx2 = index">
                <input type="radio" name="radiogroup2"  [value]="option2" (change)="onSelectionChangeProd(option2)" >&nbsp;&nbsp; {{option2}}
              </div>

            </div>
            <div *ngIf="trovatoRecRighe"  class="col-md-2">
              <strong>Record:</strong>&nbsp;&nbsp; {{nRecCu}}
            </div>
            <!--  ordinamento -->
            ord:
            <div class="col-sm-3" >
              <div class="form-check form-check-inline" *ngFor="let option21 of optionsOrd let idx21= index">
                <input type="radio" name="radiogroup21"  [value]="option21" (change)="onSelectionChangeOrder(option21)" >&nbsp;&nbsp; {{option21}}
              </div>

            </div>
          </div>
        </div>

     <div class="container" *ngIf="visibleProdotti === true  && visibleProdotto === true && visibleProdottoBevande === true">
      <br>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8" >
          <div class="form-check form-check-inline" *ngFor="let option3 of optionsBev; let idx3 = index">
            <input type="radio" name="radiogroup3"  [value]="option3" (change)="onSelectionChangeBev(option3)">&nbsp;&nbsp; {{option3}}
          </div>

        </div>
        <div *ngIf="trovatoRecRighe"  class="col-6 col-md-4">
          <strong>Record trovati:</strong>&nbsp;&nbsp; {{nRecBe}}
        </div>
      </div>
    </div>



    <div class="container"  *ngIf="visibleCommande === true">
      <br>
      <div class="row">
        <div class="col-sm-6">  <!-- col-12 col-sm-6 col-md-8 -->
          <div class="form-check form-check-inline" *ngFor="let option4 of optionsComm; let idx4 = index">
            <input type="radio" name="radiogroup4" [value]="option4" (change)="onSelectionChangeComm(option4)">&nbsp;&nbsp; {{option4}}
          </div>

        </div>
        <div *ngIf="trovatoRecRighe"  class="col-md-2">
          <strong>Record:</strong>&nbsp; {{nRecCo}}
        </div>
             <!--  ordinamento -->
             Ord:
             <div class="col-sm-3" >
               <div class="form-check form-check-inline" *ngFor="let option21 of optionsOrdComm let idx21= index">
                 <input type="radio" name="radiogroup21"  [value]="option21" (change)="onSelectionChangeOrderCommanda(option21)" >&nbsp;&nbsp; {{option21}}
               </div>

             </div>
      </div>

      <br>
      <div class="row"  *ngIf="visibleCommande === true && righeCommande === true">
          Ricerca cliente: &nbsp;
          <div class="col-sm-8 ">
            <div class="search-hero">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
            </div>
          </div>
      </div>




    </div>
    <br>
    <div class="container"  *ngIf="enabledRighe === true">  <!-- visibleProdotti === true  && visibleProdotto === true && selectFinal === true -->

      <div class="form-group row col-md-6">
         <!--
        <div class="col col-sm-1 alignicon">
            <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
        </div>
        <div class="search-hero">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
        </div>  -->
      </div>

     <!-- stato: {{stato}}  ---  {{lavorazione}} -->
<!-- visibleProdotti === true && stato === 0 && visibleFull === false-->
      <div class="row col-md-12"  *ngIf="visibleProdotti === true && stato === 0 && visibleFull === false">
<div class="cucinare">{{lavorazione}}</div>
        <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
          <tr>
              <th>prog</th>
              <th>Comm.</th>
              <th>prodotto</th>
              <th>qta</th>
              <th>HM Ord.</th>
              <th></th>
              <th colspan="3" >Action</th>
          </tr>

              <tr *ngFor ="let commandariga of commandarighe  | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
                   <!-- <td>{{i+1}}</td> -->
                   <td>{{commandariga.id}}</td>
                <td>{{commandariga.idCommanda}}</td>
                <td>{{commandariga.descrizione_prodotto}}</td>
                <td>{{commandariga.qta_ord}}</td>
                <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
                <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>

                <td class="buttons">

                  <div class="row">
                    <div class="col-sm-6">
<!--
                      <button   class="btn btn-warning  btn-sm" (click)="openModalPopup(commandariga)"  >
                        <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                      </button>
                      &nbsp;&nbsp; -->
                      <button   class="btn btn-success btn-sm" (click)="cucinare(commandariga)"  >
                        <fa-icon [icon]="faAlignLeft" fixed="true"></fa-icon>
                      </button>
                    </div>
                  </div>


                </td>
              </tr>
          </table>
          <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
        </div>
<!-- visibleProdotti === true && stato === 1 && visibleFull === false-->
        <div class="row col-md-12"  *ngIf="visibleProdotti === true && stato === 1 && visibleFull === false">
          <div>
            <label class="consegnare">{{lavorazione}}</label>
          </div>
          <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
            <tr>
                <th>prog</th>
                <th>Comm.</th>
                <th>prodotto</th>
                <th>qta</th>
                <th>HM Ord.</th>
                <th>Att..</th>
                <th >Action</th>
            </tr>

                <tr *ngFor ="let commandariga of commandarighe  | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
                 <!-- <td>{{i+1}}</td> -->
                 <td>{{commandariga.id}}</td>
                  <td>{{commandariga.idCommanda}}</td>
                  <td>{{commandariga.descrizione_prodotto}}</td>
                  <td>{{commandariga.qta_ord}}</td>
                  <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
             <!--
                  <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
                  <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>
                  <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>  -->
                  <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>

                  <td class="buttons">

                    <div class="row">
                      <div class="col-sm-7">
<!--
                        <button   class="btn btn-warning  btn-sm" (click)="openModalPopup(commandariga)"  >
                          <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                        </button>
                        &nbsp;&nbsp;  -->
                        <button   class="btn btn-danger  btn-sm" (click)="erroreconsegna(commandariga)"  >
                          <fa-icon [icon]="faMinus" fixed="true"></fa-icon>
                        </button>
                        &nbsp;
                        <button   class="btn btn-success btn-sm" (click)="consegnare(commandariga)"  >
                          <fa-icon [icon]="faAlignLeft" fixed="true"></fa-icon>
                        </button>
                      </div>
                    </div>
                </tr>
            </table>
            <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
        </div>
<!-- visibleProdotti === true && stato === 2 && visibleFull === false-->
          <div class="row col-md-10"  *ngIf="visibleProdotti === true && stato === 2 && visibleFull === false">
            <div class="consegnati">{{lavorazione}}</div>
            <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
              <tr>
                  <th>prog</th>
                  <th>Comm.</th>
                  <th>prodotto</th>
                  <th>qta</th>
                  <th>HM Ord.</th>
                  <th>Att..</th>
                  <th >Action</th>
              </tr>

                  <tr *ngFor ="let commandariga of commandarighe  | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
                     <!-- <td>{{i+1}}</td> -->
                 <td>{{commandariga.id}}</td>
                    <td>{{commandariga.idCommanda}}</td>
                    <td>{{commandariga.descrizione_prodotto}}</td>
                    <td>{{commandariga.qta_ord}}</td>
                    <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
               <!--
                    <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
                    <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>
                    <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>  -->
                    <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>

                    <td class="buttons">

                      <div class="row">
                        <div class="col-sm-6">
                          <button   class="btn btn-danger  btn-sm" (click)="erroreconsegnato(commandariga)"  >
                            <fa-icon [icon]="faMinus" fixed="true"></fa-icon>
                          </button>
                          &nbsp;
<!--
                          <button   class="btn btn-warning  btn-sm" (click)="openModalPopup(commandariga)"  >
                            <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                          </button>      -->

                        </div>
                      </div>
                  </tr>
              </table>
              <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
            </div>
<!-- visibleProdotti === true && visibleFull === true -->
<div class="row col-md-10"  *ngIf="visibleProdotti === true && visibleFull === true">

  <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
    <tr>
        <th>prog</th>
        <th>Comm.</th>
        <th>prodotto</th>
        <th>qta</th>
        <th>HM Ord.</th>
        <th>Att..</th>

    </tr>

        <tr *ngFor ="let commandariga of commandarighe  | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
           <!-- <td>{{i+1}}</td> -->
       <td>{{commandariga.id}}</td>
          <td>{{commandariga.idCommanda}}</td>
          <td>{{commandariga.descrizione_prodotto}}</td>
          <td>{{commandariga.qta_ord}}</td>
          <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
     <!--
          <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
          <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>
          <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>  -->
          <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>

          <td >


        </tr>
    </table>
    <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
  </div>

              nessuna commanda: {{nessunaCommanda}}
    <!-- per selezione commande-->
              <div class="row col-md-10"  *ngIf="visibleCommande === true && righeCommande === true">
                <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
                  <tr>
                      <th>prog</th>
                      <th>Comm.</th>
                      <th>Cliente</th>
                      <th>Persone</th>
                      <th>Att..</th>
                      <th >Action</th>
                  </tr>

                      <tr *ngFor ="let commanda of commande   | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p3}; let i = index"  [attr.data-index]="i">
                     <td>{{i+1}}</td>

                        <td>{{commanda.id}}</td>
                        <td>{{commanda.anagrafica_cliente}}</td>
                        <td>{{commanda.numPersone}}</td>
                        <td [style.color]="commanda.stato == 1 ? 'red' : 'green'">{{commanda.d_stato_commanda}}</td>
                   <!--
                        <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
                        <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>
                        <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>
                        <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>  -->

                        <td class="buttons">

                          <div class="row">
                            <div class="col-sm-6">
                              <button   class="btn btn-success  btn-sm" (click)="viewrigheCommanda(commanda.id)"  >
                                <fa-icon [icon]="faAlignLeft" fixed="true"></fa-icon>
                              </button>

                            </div>
                          </div>
                      </tr>
                  </table>
                  <pagination-controls (pageChange)="p3 = $event"></pagination-controls>
                </div>
              <br>

              <div class="row col-md-10"  *ngIf="visibleCommande === true && nessunaCommande === true">
                  <label class="nf">Nessuna commanda presente</label>
              </div>



              <div class="row col-md-10"  *ngIf="visibleCommande === true && visibleProdottiCommanda === true">
                <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
                  <tr>
                      <th>prog</th>
                      <th>Prodotto</th>
                      <th>Qta</th>
                      <th>HM Ord.</th>
                      <th>Cucinare</th>
                      <th>Consegnare</th>
                      <th >Action</th>
                  </tr>



                      <tr *ngFor ="let commandariga of commandarighe | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
                        <td>{{i+1}}</td>
                        <td>{{commandariga.descrizione_prodotto}}</td>
                        <td>{{commandariga.qta_ord}}</td>
                        <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
                        <div *ngIf="commandariga.competenza === 1">
                          <td [style.color]="commandariga.flag_lavorazione == 0 ? 'red' : 'green'">{{commandariga.d_stato_lavorazione}}</td>
                        </div>
                        <div *ngIf="commandariga.competenza === 2">
                          <td [style.color]="commandariga.flag_lavorazione == 0 ? 'white' : 'white'">{{commandariga.d_stato_lavorazione}}</td>
                        </div>

                        <td [style.color]="commandariga.flag_consegna == 0 ? 'red' : 'green'">{{commandariga.d_stato_consegna}}</td>


                        <td class="buttons">

                          <div class="row">
                            <!--
                            <div class="col-sm-6">

                              <button   class="btn btn-warning  btn-sm" (click)="openModalPopup(commandariga)"  >
                                <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                              </button>
                              &nbsp;&nbsp;
                              <button   class="btn btn-success" (click)="consegnare(commandariga)"  >
                                <fa-icon [icon]="faAlignLeft" fixed="true"></fa-icon>
                              </button>
                            </div>  -->
                          </div>





                      </tr>
                  </table>
                  <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                </div>

 </div>

 <div class="container"  *ngIf="enabledGrafici === true">


  <!-- {{graphprods | json}}  -->


  <div class="row col-md-10 offset-1"  *ngIf="enabledCucina === true">
      <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
      <tr>
          <th>prog</th>
          <th>prodotto</th>
          <th>Totali</th>
          <th>cucinare</th>
          <th>%</th>
          <th>consegnare</th>
          <th>%</th>
          <th>consegnati</th>
          <th>%</th>

      </tr>
          <tr *ngFor ="let graphprod of graphprods  | paginate: { itemsPerPage: 10, currentPage: p_graph }; let i = index" [attr.data-index]="i">
            <td>{{i+1}}</td>
            <td>{{graphprod.descrizione}}</td>
            <td>{{graphprod.ntot}}</td>
            <td>{{graphprod.ndacuc}}</td>
            <td>{{ 100 * graphprod.ndacuc / graphprod.ntot | number : '1.2-2' }}</td>  <!-- percent: '3.2-2'-->
            <td>{{graphprod.ndacons}}</td>
            <td>{{ 100 * graphprod.ndacons / graphprod.ntot | number : '1.2-2' }}</td>
            <td>{{graphprod.nevasi}}</td>
            <td>{{ 100 * graphprod.nevasi / graphprod.ntot | number: '1.2-2'}}</td>
          </tr>
      </table>
      <pagination-controls (pageChange)="p_graph = $event"></pagination-controls>
  </div>

  <div class="row col-md-12"  *ngIf="enabledBevande === true">
    <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
    <tr>
        <th>prog</th>
        <th>prodotto</th>
        <th>Totali</th>
        <th>consegnare</th>
        <th>%</th>
        <th>consegnati</th>
        <th>%</th>

    </tr>
        <tr *ngFor ="let graphprod of graphprods  | paginate: { itemsPerPage: 10, currentPage: p_graph }; let i = index" [attr.data-index]="i">
          <td>{{i+1}}</td>
          <td>{{graphprod.descrizione}}</td>
          <td>{{graphprod.ntot}}</td>

          <td>{{graphprod.ndacons}}</td>
          <td>{{ 100 * graphprod.ndacons / graphprod.ntot | percent: '3.2-4'}}</td>
          <td>{{graphprod.nevasi}}</td>
          <td>{{ 100 * graphprod.nevasi / graphprod.ntot | percent: '3.2-4'}}</td>
        </tr>
    </table>
    <pagination-controls (pageChange)="p_graph = $event"></pagination-controls>
</div>




</div>








<!-- generale -->
<!--
<div class="row col-md-12">
<table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
<tr>
    <th>prog</th>
    <th>Comm.</th>
    <th>prodotto</th>
    <th>qta</th>
    <th>HM Ord.</th>
    <th>lavorazione</th>
    <th>Att..</th>
    <th>Consegna</th>
    <th>Att..</th>
    <th >Action</th>
</tr>
//   <tr *ngFor ="let commandariga of commandarighe | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
    <tr *ngFor ="let commandariga of commandarighe  | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
      <td>{{i+1}}</td>
      <td>{{commandariga.idCommanda}}</td>
      <td>{{commandariga.descrizione_prodotto}}</td>
      <td>{{commandariga.qta_ord}}</td>
      <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
      <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
      <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>

      <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>
      <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>

      <td class="buttons">

            <button   class="btn btn-success  btn-sm-2 marginBotton" (click)="dettaglioCommanda(commandariga)"  >
              <fa-icon [icon]="faAlignLeft" fixed="true"></fa-icon>
            </button>


            <button   class="btn btn-warning  btn-sm-2 marginBotton" (click)="openModalPopup(commandariga)"  >
              <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
            </button>
      </td>
    </tr>
</table>
<pagination-controls (pageChange)="p2 = $event"></pagination-controls>
</div>   -->











      </form>
    </div>
</div>
</div>
<notifier-container></notifier-container>
