<td>{{i}}</td>
<td>{{taglia.d_taglia}}</td>
<td [style.color]="cassaw.qtaInc !== 0 ? 'yellow' : null" [style.bgcolor]="cassaw.qtaInc !== 0 ? 'black' : null">{{cassaw.qtaInc}}</td>
<td>{{cassaw.valoreInc}}</td>

<td class="buttons">
  <div class="row col-sm-12">
    <div class="col-sm-2">
      <button class="btn btn-danger  btn-sm" (click)="togliImporto(cassaw.idTaglia)"  type="button">
       <fa-icon [icon]="faMinus" fixed="true"></fa-icon>
      </button>
    </div>&nbsp;&nbsp;
    <div class="col-sm-2">
      <button class="btn btn-primary  btn-sm" (click)="aggiungiImporto(cassaw.idTaglia)"  type="button">
        <fa-icon [icon]="faPlus" fixed="true"></fa-icon>
      </button>
    </div>
  </div>
</td>

