.lavorazione {
	color: yellow;
  background-color: black;
  font-weight: bold;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;

}
.consegna {
	color: white;
  background-color: orange;
	font-weight: bold;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;

}

.modal-header-Moreno {
  background-color: red;
  color: white;
  text-align: center;
}
