<p>commanda-gestione works!</p>

<div class="container">

  <label  class="col-sm-12 col-form-label" style="text-align: center; text-transform: uppercase; font-weight: bold; color: red" ><strong>{{title}}</strong></label><br>

<div >
    <div class="col-md-auto">
      <form #fm ="ngForm"  method="POST">
       <input hidden #id="ngModel"  [(ngModel)]="giornata.id" class="form-control" name="id" id="id">
        <div class="row">
            <label for="dtGiornata" class="col-sm-2 col-form-label">Giornata</label>
            <div class=" col-md-2">
              <input readonly [(ngModel)]="giornata.dtGiornata"  [ngModel]="giornata.dtGiornata | date:'dd/MM/yyyy'" #dtGiornata="ngModel" class="form-control"  name="dtGiornata" id="dtGiornata"  >
            </div>

            <div class="col-md-2">
              <div>
                <input disabled #d_stato_giornata="ngModel"  [(ngModel)]="giornata.d_stato_giornata" class="form-control" name="d_stato_giornata" id="d_stato_giornata" [style.color]="giornata.stato == 2 ? 'red' : null">
              </div>
            </div>
        </div>
        <hr>
<!-- options1 (prodotti/commande )-->
        <div class="row">
          <div class="form-group col-md-3">
            <table class="table">
              <tr >
                <td>
                  <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
                    <input type="radio" name="radiogroup"  [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
                    </div>
                  </td>
              </tr>
            </table>
          </div>
          <div class="col-md-1">
            <button   class="btn btn-success btn-sm" (click)="editdatiGraph()"  >  <!--  ultimo  ancora non va  statisticaNew() -->   <!--   old1 statistica() -->
              <fa-icon [icon]="faChartLine" fixed="true"></fa-icon>
            </button>

          </div>

        </div>

        <!-- options2 (tipologia prodotti ) -----  solo per cucina -->
        <div class="container" *ngIf="visibleProdotti === true">
          <div class="row" >
              <div class="col-sm-6" *ngIf="visibleProdotti === true && enabledCucina === true">
                <div class="form-check form-check-inline" *ngFor="let option1 of optionsMenuCucina; let idx1 = index">
                  <input type="radio" name="radiogroup1"  [value]="option1" (change)="onSelectionChangeMenu(option1)">&nbsp; {{option1}}
                </div>
              </div>
              <div class="col-sm-6" *ngIf="visibleProdotti === true && enabledBevande === true">
                <div class="form-check form-check-inline" *ngFor="let option11 of optionsMenuBevande; let idx1 = index">
                  <input type="radio" name="radiogroup11"  [value]="option11" (change)="onSelectionChangeMenu(option11)">&nbsp; {{option11}}
                </div>
              </div>

              Selezione:
              <div class="dropdown col-sm-3">
                <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedProd" ngModel name="prod" id="prod" class="form-select" required (change)="selectedProdotto($event.target.value)" aria-label="Default select example">
                  <option selected value="999">Seleziona il prodotto</option>
                  <option *ngFor="let prod of prodottibysel" [value]="prod.id"  class="form-control">{{prod.descrizione}}</option>
                </select>

              </div>
              <div   class="col col-md-2 ">  <!-- *ngIf="nRec > 0"-->
                <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
              </div>
          </div>
        </div>


        <!--   fino a riga sopra controlli ok -->



<!-- visibile secondo filtro di ricerca per cucina (tutti-da Lavorare-da consegnare-consegnati)-->
        <div class="container" *ngIf="visibleProdotti === true  && visibleProdottoCucina === true">   <!--  && visibleProdotto === true -->
          <br>
          <div class="row">
            <div class="col-md-7" >  <!-- col-12 col-sm-6 -->
              <div class="form-check form-check-inline" *ngFor="let option2 of optionsProd; let idx2 = index">
                <input type="radio" name="radiogroup2"  [value]="option2" (change)="onSelectionChangeProd(option2, prodottoSelected)" >&nbsp;&nbsp; {{option2}}
              </div>

            </div>
            <div *ngIf="nRecCu"  class="col-md-2">
              <strong>Record:</strong>&nbsp;&nbsp; {{nRec}}
            </div>
            <!--  ordinamento -->
            ord:
            <div class="col-sm-3" >
              <div class="form-check form-check-inline" *ngFor="let option21 of optionsOrd let idx21= index">
                <input type="radio" name="radiogroup21"  [value]="option21" (change)="onSelectionChangeOrder(option21)" >&nbsp;&nbsp; {{option21}}
              </div>

            </div>
          </div>
        </div>

    <!-- filtro per bevande -->
     <div class="container" *ngIf="visibleProdotti === true   && visibleProdottoBevande === true">  <!--  && visibleProdotto === true -->
      <br>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8" >
          <div class="form-check form-check-inline" *ngFor="let option3 of optionsBev; let idx3 = index">
            <input type="radio" name="radiogroup3"  [value]="option3" (change)="onSelectionChangeBev(option3)">&nbsp;&nbsp; {{option3}}
          </div>

        </div>
        <div *ngIf="nRecBe"  class="col-6 col-md-4">
          <strong>Record trovati:</strong>&nbsp;&nbsp; {{nRec}}
        </div>
      </div>
    </div>


    <!-- visualizzazione selezione per Commande -->

    <div class="container"  *ngIf="visibleCommande === true">
      <br>
      <div class="row">
        <div class="col-sm-6">  <!-- col-12 col-sm-6 col-md-8 -->
          <div class="form-check form-check-inline" *ngFor="let option4 of optionsComm; let idx4 = index">
            <input type="radio" name="radiogroup4" [value]="option4" (change)="onSelectionChangeComm(option4)">&nbsp;&nbsp; {{option4}}
          </div>

        </div>
        <div *ngIf="trovatoRecRighe"  class="col-md-2">
          <strong>Record:</strong>&nbsp; {{nRecCo}}
        </div>
             <!--  ordinamento -->
             Ord:
             <div class="col-sm-3" >
               <div class="form-check form-check-inline" *ngFor="let option21 of optionsOrdComm let idx21= index">
                 <input type="radio" name="radiogroup21"  [value]="option21" (change)="onSelectionChangeOrderCommanda(option21)" >&nbsp;&nbsp; {{option21}}
               </div>

             </div>
      </div>


      <!-- commande: {{commande | json}}<br> -->
      nRecCo: {{nRecCo}}<br>


      <br>
      <div class="row"  *ngIf="visibleCommande === true && nRecCo > 0">
          Ricerca cliente: &nbsp;
          <div class="col-sm-8 ">
            <div class="search-hero">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
            </div>
          </div>
      </div>




    </div>
    <br>
    <!-- enabledRighe:{{enabledRighe}}<br> -->
    <div class="container"  *ngIf="enabledRighe === true">  <!-- visibleProdotti === true  && visibleProdotto === true && selectFinal === true -->

      <div class="form-group row col-md-6">
         <!--
        <div class="col col-sm-1 alignicon">
            <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
        </div>
        <div class="search-hero">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="inserisci campo di ricerca">
        </div>  -->
      </div>

      <!-- stato: {{stato}}  ---  {{lavorazione}}<br>
      visibleProdotti:{{visibleProdotti}} -- visibleFull: {{visibleFull}}<br>
      selectedProd: {{selectedProd}}<br>
      strsql:{{strSql}}<br> -->

<!-- ......................................   funziona elenco  -- controllare tutti -->
      <div class="row col-md-12"  *ngIf="visibleProdotti === true && stato == 0 && visibleFull === false && nRec > 0 ||
                                         visibleProdotti === true && stato == 9 && visibleFull === false && nRec > 0">
<div class="cucinare">{{lavorazione}}</div>
        <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
          <tr>
              <th  style="text-align: center;">prog</th>
              <th  style="text-align: center;">Comm.</th>
              <th  style="text-align: center;">Cliente</th>
              <th  style="text-align: center;">prodotto</th>
              <th  style="text-align: center;">qta</th>
              <th  style="text-align: center;">HM Ord. 1</th>
              <th></th>
              <th colspan="3" >Action</th>
          </tr>

              <tr *ngFor ="let commandariga of commandarighe  | paginate: {  id: 'cucinare', itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
                   <td>{{i+1}}</td>
                <!-- <td>{{commandariga.id}}</td> -->
                <td  style="text-align: center;">{{commandariga.idCommanda}}</td>
                <td  style="text-align: center;">{{commandariga.cliente  | slice:0:40}}</td>
                <td  style="text-align: center;">{{commandariga.descrizione_prodotto  | slice:0:40}}</td>
                <td  style="text-align: center;">{{commandariga.qta_ord}}</td>
                <td  style="text-align: center;">{{commandariga.ora_inizio | date:'HH:mm'}}</td>
                <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>

                <td class="buttons">
                  <div class="row">

<!--
                      <button   class="btn btn-warning  btn-sm" (click)="openModalPopup(commandariga)"  >
                        <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                      </button>
                      &nbsp;&nbsp; -->
                      <div class="col-sm-2">
                        <button   class="btn btn-primary  btn-sm" (click)="prodCommanda(commandariga, commandariga.cliente)">
                          <fa-icon [icon]="faGripLines" fixed="true"></fa-icon>
                        </button>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-2">
                        <button   class="btn btn-warning btn-sm" (click)="cucinare(commandariga)"  >
                          <fa-icon [icon]="faFire" fixed="true"></fa-icon>
                        </button>
                      </div>
                  </div>
                </td>
              </tr>
          </table>
          <pagination-controls id="cucinare" (pageChange)="p2 = $event"></pagination-controls>
        </div>
        <div class="row col-md-12"  *ngIf="visibleProdotti === true && (stato == 0 || stato == 1 || stato == 2) && visibleFull === false && nRec == 0 ||
                                           visibleProdotti === true && stato == 9 && visibleFull === true && nRec == 0">

          <label class="col-sm-10 col-form-label" style="color:red; font-weight: bold; text-align: center;">Non esistono prodotti per i parametri di selezione impostati </label>
        </div>
<!-- visibleProdotti === true && stato === 1 && visibleFull === false-->
        <div class="row col-md-12"  *ngIf="visibleProdotti === true && stato === 1 && visibleFull === false">
          <div>
            <label class="consegnare">{{lavorazione}}</label>
          </div>
          <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
            <tr>
                <th  style="text-align: center;">prog</th>
                <th  style="text-align: center;">Comm.</th>
                <th  style="text-align: center;">Cliente</th>
                <th  style="text-align: center;">prodotto</th>
                <th  style="text-align: center;">qta</th>
                <th  style="text-align: center;">HM Ord. 2</th>
                <th  style="text-align: center;">Att..</th>
                <th  colspan="3" style="text-align: center;">Action</th>
            </tr>

                <tr *ngFor ="let commandariga of commandarighe  | paginate: {id: 'consegnare', itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
                 <td  style="text-align: center;">{{i+1}}</td>
                 <!-- <td>{{commandariga.id}}</td> -->
                  <td  style="text-align: center;">{{commandariga.idCommanda}}</td>
                  <td  style="text-align: center;">{{commandariga.cliente  | slice:0:40}}</td>
                  <td  style="text-align: center;">{{commandariga.descrizione_prodotto  | slice:0:40}}</td>
                  <td  style="text-align: center;">{{commandariga.qta_ord}}</td>
                  <td  style="text-align: center;">{{commandariga.ora_inizio | date:'HH:mm'}}</td>
             <!--
                  <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
                  <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>
                  <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>  -->
                  <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>
                  <!-- <td>
                    <div>
                      <button   class="btn btn-danger  btn-sm" (click)="erroreconsegna(commandariga)"  >
                        <fa-icon [icon]="faMinus" fixed="true"></fa-icon>
                      </button>
                    </div>
                  </td>
                  <td>
                    <div>
                      <button   class="btn btn-success btn-sm" (click)="consegnare(commandariga)"  >
                        <fa-icon [icon]="faAlignLeft" fixed="true"></fa-icon>
                      </button>
                    </div>
                  </td>
 -->

                  <td class="buttons">
                    <div class="row">
                      <div class="col-sm-1">
                        <button   class="btn btn-primary  btn-sm" (click)="prodCommanda(commandariga, commandariga.cliente)">
                          <fa-icon [icon]="faGripLines" fixed="true"></fa-icon>
                        </button>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-sm-1">
                        <button   class="btn btn-danger  btn-sm" (click)="erroreconsegna(commandariga)"  >
                          <fa-icon [icon]="faMinus" fixed="true"></fa-icon>
                        </button>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-sm-1">
                        <button   class="btn btn-success btn-sm" (click)="consegnare(commandariga)">
                          <fa-icon [icon]="faTruck" fixed="true"></fa-icon>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
            </table>
            <pagination-controls id="consegnare" (pageChange)="p2 = $event"></pagination-controls>
        </div>
<!-- visibleProdotti === true && stato === 2 && visibleFull === false-->
          <div class="row col-md-10"  *ngIf="visibleProdotti === true && stato === 2 && visibleFull === false">
            <div class="consegnati">{{lavorazione}}</div>
            <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
              <tr>
                  <th  style="text-align: center;">prog</th>
                  <th  style="text-align: center;">Comm.</th>
                  <th  style="text-align: center;">Cliente</th>
                  <th  style="text-align: center;">prodotto</th>
                  <th  style="text-align: center;">qta</th>
                  <th  style="text-align: center;">HM Ord. 3</th>
                  <th>Att..</th>
                  <th >Action</th>
              </tr>

                  <tr *ngFor ="let commandariga of commandarighe  | paginate: { id: 'consegnati',itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
                     <td  style="text-align: center;">{{i+1}}</td>
                 <!-- <td>{{commandariga.id}}</td> -->
                    <td  style="text-align: center;">{{commandariga.idCommanda}}</td>
                    <td  style="text-align: left">{{commandariga.cliente  | slice:0:40}}</td>
                    <td  style="text-align: center;">{{commandariga.descrizione_prodotto  | slice:0:40}}</td>
                    <td  style="text-align: center;">{{commandariga.qta_ord}}</td>
                    <td  style="text-align: center;">{{commandariga.ora_inizio | date:'HH:mm'}}</td>
               <!--
                    <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
                    <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>
                    <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>  -->
                    <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>

                    <td class="buttons">
                      <div class="row">
                        <div class="col-sm-2">
                          <button   class="btn btn-primary  btn-sm" (click)="prodCommanda(commandariga, commandariga.cliente)">
                            <fa-icon [icon]="faGripLines" fixed="true"></fa-icon>
                          </button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-sm-2">
                          <button   class="btn btn-danger  btn-sm" (click)="erroreconsegnato(commandariga)"  >
                            <fa-icon [icon]="faMinus" fixed="true"></fa-icon>
                          </button>

<!--
                          <button   class="btn btn-warning  btn-sm" (click)="openModalPopup(commandariga)"  >
                            <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                          </button>      -->

                        </div>
                      </div>
                  </tr>
              </table>
              <pagination-controls id="consegnati" (pageChange)="p2 = $event"></pagination-controls>
          </div>
    </div>
<!-- visibleProdotti === true && visibleFull === true -->

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="row col-md-10"  *ngIf="visibleProdotti === true && visibleFull === true && nRec > 0">

      <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
        <tr>
            <th  style="text-align: center;">prog</th>
            <th  style="text-align: center;">Comm.</th>
            <th  style="text-align: center;">Cliente</th>
            <th  style="text-align: center;">prodotto</th>
            <th  style="text-align: center;">qta</th>
            <th  style="text-align: center;">HM Ord. 4</th>
            <th style="text-align: center;">Att..</th>

        </tr>

            <tr *ngFor ="let commandariga of commandarighe  | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
               <td  style="text-align: center;">{{i+1}}</td>
           <!-- <td>{{commandariga.id}}</td> -->
              <td  style="text-align: center;">{{commandariga.idCommanda}}</td>
              <td  style="text-align: center;">{{commandariga.cliente  | slice:0:40}}</td>
              <td  style="text-align: center;">{{commandariga.descrizione_prodotto  | slice:0:40}}</td>
              <td  style="text-align: center;">{{commandariga.qta_ord}}</td>
              <td  style="text-align: center;">{{commandariga.ora_inizio | date:'HH:mm'}}</td>
         <!--
              <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
              <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>
              <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>  -->
              <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>

              <td class="buttons">
                <div class="row">
                  <div class="col-sm-1">
                    <button   class="btn btn-primary  btn-sm" (click)="prodCommanda(commandariga, commandariga.cliente)">
                      <fa-icon [icon]="faGripLines" fixed="true"></fa-icon>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
        </table>
        <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
    </div>
  </div>
</div>



  <!--

   Selezione:  ------------------------------------  Commande


  -->
  <!-- visibleCommande: {{visibleCommande}}<br>
  righeCommande: {{righeCommande}}<br>
  casoCommande_01<br> -->

  <div *ngIf="visibleCommande === true && selectSelettiva === true && nRecCo > 0">
    <strong stylus.color="color: red">nessuna commanda presente </strong>
  </div>

    <!-- per selezione commande  da selezione originaria da Prodotti -->
  <div class="row col-md-10"  *ngIf="visibleCommande === true && selectSelettiva === false && nRecCo > 0">
                <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
                  <tr>
                      <th>prog</th>
                      <th>Comm.</th>
                      <th>Cliente</th>
                      <th>Persone</th>
                      <th>Att..........</th>
                      <th >Action</th>
                  </tr>
                      <tr *ngFor ="let commanda of commande   | filter:searchText | paginate: {  id: 'elencoCommande', itemsPerPage: 10, currentPage: p3}; let i = index"  [attr.data-index]="i">
                     <td>{{i+1}}</td>

                        <td>{{commanda.id}}</td>
                        <td>{{commanda.anagrafica_cliente}}</td>
                        <td>{{commanda.numPersone}}</td>
                        <td [style.color]="commanda.stato == 1 ? 'red' : 'green'">{{commanda.d_stato_commanda}}</td>
                        <td class="buttons">
                          <div class="row">
                            <div class="col-sm-3">
                              <button   class="btn btn-success  btn-sm" (click)="CommandaviewrigheCucina(commanda.id)"  >
                                <fa-icon [icon]="faFire" fixed="true"></fa-icon>
                              </button>
                            </div>
                            <div class="col-md-3">
                              <button   class="btn btn-info  btn-sm" (click)="CommandaviewrigheConsegna(commanda.id)"  >
                                <fa-icon [icon]="faTruck" fixed="true"></fa-icon>
                              </button>
                            </div>
                            <div class="col-md-3">
                              <button   class="btn btn-primary  btn-sm" (click)="Commandaviewrighe(commanda.id)"  >
                                <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>
                </table>
                  <pagination-controls id="elencoCommande" (pageChange)="p3 = $event"></pagination-controls>
  </div>
  <br>
  <div class="row col-md-10"  *ngIf="visibleCommande === true && selectSelettiva === true && nRecCo == 0">
                  <label class="nf">Nessuna commanda presente 1</label>
  </div>
  <div class="row col-md-10"  *ngIf="visibleCommande === true && selectSelettiva === false && nRecPr > 0"> <!-- visualizzazione commande da Originaria Prodotti-->
  <div >
  lavorazione1 :&nbsp;&nbsp;<strong style="color:red;">{{tipolavorazione}}</strong>
  </div>
                <br>
                <div>


                  <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
                     <tr>
                        <th>Prodotto</th>
                        <th>Qta</th>
                        <th>HM Ord. 5</th>
                        <th >Stato</th>
                        <th >Action</th>
                  </tr>



                      <tr *ngFor ="let commandariga of commandarighe | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">

                        <td>{{commandariga.descrizione_prodotto | slice:0:15}}</td>
                        <td>{{commandariga.qta_ord}}</td>
                        <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
                        <td *ngIf="commandariga.competenza === 1 && faseLavorativa === 'Cu'" [style.color]="commandariga.flag_lavorazione === 0 ? 'red' : 'green'">{{commandariga.d_stato_lavorazione}}</td>
                        <td *ngIf="commandariga.competenza === 1 && commandariga.flag_lavorazione === 1 && faseLavorativa === 'Co'" [style.color]="commandariga.flag_consegna === 0 ? 'red' : 'green'">{{commandariga.d_stato_consegna}}</td>

                        <td *ngIf="commandariga.competenza === 2" [style.color]="commandariga.flag_consegna === 0 ? 'violet' : 'orange'">{{commandariga.d_stato_consegna}}</td>
                        <td class="buttons">
                          <div class="row">
                            <div class="col-md-3" *ngIf="commandariga.flag_lavorazione == 1 && faseLavorativa === 'Cu'">
                              <button   class="btn btn-danger  btn-sm" (click)="AnnullaCucinaProdotto(commandariga)"  >
                                <fa-icon [icon]="faTrash" fixed="true"></fa-icon>
                              </button>
                            </div>
                            <div class="col-sm-3" *ngIf="commandariga.flag_lavorazione == 0 && faseLavorativa === 'Cu'">
                              <button   class="btn btn-success  btn-sm" (click)="CucinaProdotto(commandariga)"  >
                                <fa-icon [icon]="faFire" fixed="true"></fa-icon>
                              </button>
                            </div>
                            <div class="col-md-3" *ngIf="commandariga.flag_consegna == 1 && faseLavorativa === 'Co'">
                              <button   class="btn btn-danger  btn-sm" (click)="AnnullaConsegnaProdotto(commandariga)"  >
                                <fa-icon [icon]="faTrash" fixed="true"></fa-icon>
                              </button>
                            </div>
                            <div class="col-sm-3" *ngIf="commandariga.flag_consegna == 0 && faseLavorativa === 'Co'">
                              <button   class="btn btn-success  btn-sm" (click)="ConsegnaProdotto(commandariga)"  >
                                <fa-icon [icon]="faFire" fixed="true"></fa-icon>
                              </button>
                            </div>
                          </div>
                        </td>


<!--
                        <td class="buttons">

                          <div class="row borde">
                            <div class="col-sm-6">

                                <button   class="btn btn-warning  btn-sm" (click)="annulla(commandariga)" *ngIf="commandariga.flag_lavorazione === 1" >
                                  <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                                </button>
                                &nbsp;
                                <button   class="btn btn-success" (click)="cucinare(commandariga)" *ngIf="commandariga.flag_lavorazione === 1" >
                                  <fa-icon [icon]="faMinus" fixed="true"></fa-icon>
                                </button>
                                <button   class="btn btn-success" (click)="consegnare(commandariga)" *ngIf="commandariga.flag_lavorazione === 0" >
                                  <fa-icon [icon]="faPlus" fixed="true"></fa-icon>
                                </button>

                            </div>


                          </div>

                        </td>  -->


                      </tr>
                  </table>
                </div>
                  <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
  </div>
  <div class="row col-md-10"  *ngIf="visibleCommande === true && selectSelettiva === true && nRecPr == 0 ">
                <div >
                  lavorazione2 :&nbsp;&nbsp;<strong style="color:red;">{{tipolavorazione}}</strong>
                  <label class="nf">Nessun prodotto presente</label>
                </div>
  </div>
  <br>
<!--   dettaglio dei prodotti della commanda da riga prodotto -->

<!-- commandarighedetailCommanda: {{commandarighedetailCommanda | json}}<br> -->


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"  *ngIf="dettaglioCommanda === true">
      <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
         <tr>
            <th style="text-align: center;">Prodotto</th>
            <th style="text-align: center;">Qta</th>
            <th style="text-align: center;">Stato Lavorazione</th>
            <th style="text-align: center;">Stato Consegna</th>
            <th style="font-weight: bold; text-transform: uppercase; color:blue; background-color: yellow; text-align: center;">{{clienteCommanda}}</th>
        </tr>
        <tr *ngFor ="let commandariga of commandarighedetailCommanda | paginate: { id: 'prodCommanda', itemsPerPage: 10, currentPage: p_prodComm }; let i = index"  [attr.data-index]="i">
            <td  [ngClass]="{'nondipertinenza': commandariga.competenza !== competenza }"  >{{commandariga.descrizione_prodotto | slice:0:50}}</td>
            <td>{{commandariga.qta_ord}}</td>
            <td  [ngClass]="{'lavorato': commandariga.d_stato_lavorazione === 'LAVORATO', 'dalavorare' : commandariga.d_stato_lavorazione === 'DA LAVORARE' }">{{commandariga.d_stato_lavorazione}}</td>
            <td  [ngClass]="{'consegnata': commandariga.d_stato_consegna === 'CONSEGNATA', 'daconsegnare' : commandariga.d_stato_consegna === 'DA CONSEGNARE' }">{{commandariga.d_stato_consegna}}</td>
         </tr>
      </table>

      <pagination-controls id="prodCommanda" (pageChange)="p_prodComm = $event"></pagination-controls>
    </div>
  </div>
</div>



 <div class="container"  *ngIf="enabledGrafici === true">


  <!-- {{graphprods | json}}  -->


  <div class="row col-md-10 offset-1"  *ngIf="enabledCucina === true">
      <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
      <tr>
          <th>prog</th>
          <th>prodotto</th>
          <th>Totali</th>
          <th>cucinare</th>
          <th>%</th>
          <th>consegnare</th>
          <th>%</th>
          <th>consegnati</th>
          <th>%</th>

      </tr>
          <tr *ngFor ="let graphprod of graphprods  | paginate: { itemsPerPage: 10, currentPage: p_graph }; let i = index" [attr.data-index]="i">
            <td>{{i+1}}</td>
            <td>{{graphprod.descrizione}}</td>
            <td>{{graphprod.ntot}}</td>
            <td>{{graphprod.ndacuc}}</td>
            <td>{{ 100 * graphprod.ndacuc / graphprod.ntot | number : '1.2-2' }}</td>  <!-- percent: '3.2-2'-->
            <td>{{graphprod.ndacons}}</td>
            <td>{{ 100 * graphprod.ndacons / graphprod.ntot | number : '1.2-2' }}</td>
            <td>{{graphprod.nevasi}}</td>
            <td>{{ 100 * graphprod.nevasi / graphprod.ntot | number: '1.2-2'}}</td>
          </tr>
      </table>
      <pagination-controls (pageChange)="p_graph = $event"></pagination-controls>
  </div>

  <div class="row col-md-12"  *ngIf="enabledBevande === true">
    <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
    <tr>
        <th>prog</th>
        <th>prodotto</th>
        <th>Totali</th>
        <th>consegnare</th>
        <th>%</th>
        <th>consegnati</th>
        <th>%</th>

    </tr>
        <tr *ngFor ="let graphprod of graphprods  | paginate: { itemsPerPage: 10, currentPage: p_graph }; let i = index" [attr.data-index]="i">
          <td>{{i+1}}</td>
          <td>{{graphprod.descrizione}}</td>
          <td>{{graphprod.ntot}}</td>

          <td>{{graphprod.ndacons}}</td>
          <td>{{ 100 * graphprod.ndacons / graphprod.ntot | percent: '3.2-4'}}</td>
          <td>{{graphprod.nevasi}}</td>
          <td>{{ 100 * graphprod.nevasi / graphprod.ntot | percent: '3.2-4'}}</td>
        </tr>
    </table>
    <pagination-controls (pageChange)="p_graph = $event"></pagination-controls>
</div>
</div>

   <!-- per selezione originaria commande -->
   <div class="row col-md-10"  *ngIf="visibleCommande === true && selectSelettiva === true && nRecCo > 0">
    <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
      <tr>
          <th>prog</th>
          <th>Comm.</th>
          <th>Cliente</th>
          <th>Persone</th>
          <th>Stato</th>
          <th >Action</th>
      </tr>
          <tr *ngFor ="let commanda of commande   | filter:searchText | paginate: {  id: 'elencoCommandediGiornata', itemsPerPage: 10, currentPage: p3c}; let i = index"  [attr.data-index]="i">
         <td>{{i+1}}</td>

            <td>{{commanda.id}}</td>
            <td>{{commanda.anagrafica_cliente}}</td>
            <td>{{commanda.numPersone}}</td>
            <td [ngClass]="{'commandadalavorare': commanda.stato == 1 || commanda.stato == 2 || commanda.stato == 5,
                            'commandaparzialmentevasa' : commanda.stato == 3,
                            'commandaevasa' : commanda.stato == 4}">{{commanda.d_stato_commanda}}</td>
            <td class="buttons">
              <div class="row">
                <div class="col-md-3">
                  <button   class="btn btn-primary  btn-sm" (click)="Commandavisualizzarighe(commanda)"  >
                    <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                  </button>
                </div>
              </div>
            </td>
          </tr>
    </table>
      <pagination-controls id="elencoCommandediGiornata" (pageChange)="p3c = $event"></pagination-controls>
</div>


<div class="row col-md-10"  *ngIf="visibleCommande === true && selectSelettiva === true && viewfromCommanda === true">
  <table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
     <tr>
        <th>Prodotto</th>
        <th>Qta</th>
        <th>HM Ord. 5xx</th>
        <th >Stato Lav.</th>
        <th >Stato Con.</th>
        <th >Action</th>
        <th style="font-weight: bold; text-transform: uppercase; color:blue; background-color: yellow; text-align: center;">{{clienteCommanda}}</th>

      </tr>
      <tr *ngFor ="let commandariga of commandarighe | paginate: {  id: 'dettaglioCommanda', itemsPerPage: 10, currentPage: p2c }; let i = index" [attr.data-index]="i">

        <td  [ngClass]="{'nondipertinenza': commandariga.competenza !== competenza }"  >{{commandariga.descrizione_prodotto | slice:0:50}}</td>
        <td>{{commandariga.qta_ord}}</td>
        <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
        <td  [ngClass]="{'lavorato': commandariga.d_stato_lavorazione === 'LAVORATO', 'dalavorare' : commandariga.d_stato_lavorazione === 'DA LAVORARE' }">{{commandariga.d_stato_lavorazione}}</td>
        <td  [ngClass]="{'consegnata': commandariga.d_stato_consegna === 'CONSEGNATA', 'daconsegnare' : commandariga.d_stato_consegna === 'DA CONSEGNARE' }">{{commandariga.d_stato_consegna}}</td>
        <!--  gestire i bottoni di lavorazione -->

        <!-- <td *ngIf="commandariga.competenza === 1 && faseLavorativa === 'Cu'" >{{commandariga.d_stato_lavorazione}}</td>
        <td *ngIf="commandariga.competenza === 1 && commandariga.flag_lavorazione === 1 && faseLavorativa === 'Co'" [style.color]="commandariga.flag_consegna === 0 ? 'red' : 'green'">{{commandariga.d_stato_consegna}}</td> -->

        <td *ngIf="commandariga.competenza === 2" [style.color]="commandariga.flag_consegna === 0 ? 'violet' : 'orange'">{{commandariga.d_stato_consegna}}</td>
        <td class="buttons">
          <div class="row">
            <div class="col-md-3" *ngIf="commandariga.flag_lavorazione == 1 && faseLavorativa === 'Cu'">
              <button   class="btn btn-danger  btn-sm" (click)="AnnullaCucinaProdotto(commandariga)"  >
                <fa-icon [icon]="faTrash" fixed="true"></fa-icon>
              </button>
            </div>
            <div class="col-sm-3" *ngIf="commandariga.flag_lavorazione == 0 && faseLavorativa === 'Cu'">
              <button   class="btn btn-success  btn-sm" (click)="CucinaProdotto(commandariga)"  >
                <fa-icon [icon]="faFire" fixed="true"></fa-icon>
              </button>
            </div>
            <div class="col-md-3" *ngIf="commandariga.flag_consegna == 1 && faseLavorativa === 'Co'">
              <button   class="btn btn-danger  btn-sm" (click)="AnnullaConsegnaProdotto(commandariga)"  >
                <fa-icon [icon]="faTrash" fixed="true"></fa-icon>
              </button>
            </div>
            <div class="col-sm-3" *ngIf="commandariga.flag_consegna == 0 && faseLavorativa === 'Co'">
              <button   class="btn btn-success  btn-sm" (click)="ConsegnaProdotto(commandariga)"  >
                <fa-icon [icon]="faFire" fixed="true"></fa-icon>
              </button>
            </div>
          </div>
        </td>


<!--
        <td class="buttons">

          <div class="row borde">
            <div class="col-sm-6">

                <button   class="btn btn-warning  btn-sm" (click)="annulla(commandariga)" *ngIf="commandariga.flag_lavorazione === 1" >
                  <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
                </button>
                &nbsp;
                <button   class="btn btn-success" (click)="cucinare(commandariga)" *ngIf="commandariga.flag_lavorazione === 1" >
                  <fa-icon [icon]="faMinus" fixed="true"></fa-icon>
                </button>
                <button   class="btn btn-success" (click)="consegnare(commandariga)" *ngIf="commandariga.flag_lavorazione === 0" >
                  <fa-icon [icon]="faPlus" fixed="true"></fa-icon>
                </button>

            </div>


          </div>

        </td>  -->


      </tr>
  </table>
</div>
  <pagination-controls  id="dettaglioCommanda" (pageChange)="p2c = $event"></pagination-controls>




<br>
<div *ngIf="isVisible  && !alertSuccess" class="alert alert-danger" role="alert">
  <p>{{Message}}</p>
</div>
<div *ngIf="isVisible  && alertSuccess" class="alert alert-success" role="alert">
  <p>{{Message}}</p>
</div>






<!-- generale -->
<!--
<div class="row col-md-12">
<table class="table table-striped table-sm shadow-lg p-3 bg-white table-bordered table-responsive-lg table-container">
<tr>
    <th>prog</th>
    <th>Comm.</th>
    <th>prodotto</th>
    <th>qta</th>
    <th>HM Ord.</th>
    <th>lavorazione</th>
    <th>Att..</th>
    <th>Consegna</th>
    <th>Att..</th>
    <th >Action</th>
</tr>
//   <tr *ngFor ="let commandariga of commandarighe | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
    <tr *ngFor ="let commandariga of commandarighe  | paginate: { itemsPerPage: 10, currentPage: p2 }; let i = index" [style.color]="commandariga.stato == 1 ? 'red' : null"  [attr.data-index]="i">
      <td>{{i+1}}</td>
      <td>{{commandariga.idCommanda}}</td>
      <td>{{commandariga.descrizione_prodotto}}</td>
      <td>{{commandariga.qta_ord}}</td>
      <td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
      <td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
      <td><img src="assets/images/{{commandariga.semaphoreLavorazione}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayLavorazione}} </td>

      <td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>
      <td><img src="assets/images/{{commandariga.semaphoreConsegna}}"  alt="??" class="img-circle rounded-circle border p-1" >&nbsp; {{commandariga.delayConsegna}} </td>

      <td class="buttons">

            <button   class="btn btn-success  btn-sm-2 marginBotton" (click)="dettaglioCommanda(commandariga)"  >
              <fa-icon [icon]="faAlignLeft" fixed="true"></fa-icon>
            </button>


            <button   class="btn btn-warning  btn-sm-2 marginBotton" (click)="openModalPopup(commandariga)"  >
              <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>
            </button>
      </td>
    </tr>
</table>
<pagination-controls (pageChange)="p2 = $event"></pagination-controls>
</div>   -->











      </form>
    </div>
</div>
</div>
<notifier-container></notifier-container>

