<p>fornitore-detail works!</p>

<div class="container">

  <div class="header_Inqu" *ngIf="functionInqu">
    <div class="title_Inqu  col-md-12">
      <strong >{{title}}</strong>
    </div>
  </div>


  <div class="header_Edit title_Edit" *ngIf="functionUser  ===  searchEdits   ||  functionUser  ===  searchEdit">

      <strong>{{title}}</strong>

  </div>
  <!--
  <div class="header_Edit" *ngIf="functionEdit || functionEdits">
    functionEdit: {{functionEdit}}&nbsp;&nbsp;functionEdits: {{functionEdits}}
    <caption class="title_Edit  col-md-12">{{title}}</caption>
  </div>  -->


  <div class="header_New" *ngIf="functionNew">
    <caption class="title_New  col-md-12 ">{{title}}</caption>
  </div>


<br>


  <div >
    <div class="col-md-auto">
      <form #fm ="ngForm"  method="POST">
        <input hidden #id="ngModel"  [(ngModel)]="fornitore.id" class="form-control" name="id" id="id">
        <input hidden #key_utenti_operation="ngModel"  [(ngModel)]="fornitore.key_utenti_operation" class="form-control" name="key_utenti_operation" id="key_utenti_operation">






        <br>
        <!-- Descrizione  -->
         <div class="form-row">
          <div class="mb-3 row margini">
            <label for="rogionesociale" class="col-sm-2 col-form-label">Ragione Sociale:</label>
            <div class="col-sm-5">
            <input type="text" #rogionesociale="ngModel"  [(ngModel)]="fornitore.ragsociale" class="form-control" name="rogionesociale" id="rogionesociale" required minlength="4" maxlength="50" pattern="[0-9a-zA-Z/\s]*" placeholder="Inserire Ragione Sociale">  <!-- [0-9a-zA-Z\s]* -->
              <div *ngIf="rogionesociale.invalid && rogionesociale.dirty && rogionesociale.touched" class="alert-danger">
                <div *ngIf="rogionesociale.errors.required">
                    <span>la rogione sociale è obbligatoria</span>
                </div>
                <div *ngIf="rogionesociale.errors.minlength">
                   <span>la rogione sociale deve essere di almeno 4 caratteri</span>
                </div>
                <div *ngIf="rogionesociale.errors.maxlength">
                    <span>la rogione sociale non può essere più lunga di 50 caratteri</span>
                 </div>
              </div>
            </div>
          </div>
         </div>


         <div class="row">
          <div class="mb-3 row margini">
            <label for="indirizzo" class="col-sm-2 col-form-label">Indirizzo:</label>
            <div class="col-sm-5">
            <input type="text" #indirizzo="ngModel"  [(ngModel)]="fornitore.indirizzo" class="form-control" name="indirizzo" id="indirizzo" required minlength="4" maxlength="30" pattern="[0-9a-zA-Z/\s]*" placeholder="Inserire Indirizzo">  <!-- [0-9a-zA-Z\s]* -->
              <div *ngIf="indirizzo.invalid && indirizzo.dirty && indirizzo.touched" class="alert-danger">
                <div *ngIf="indirizzo.errors.required">
                    <span>indirizzo è obbligatoria</span>
                </div>
                <div *ngIf="indirizzo.errors.minlength">
                   <span>indirizzo deve essere di almeno 4 caratteri</span>
                </div>
                <div *ngIf="indirizzo.errors.maxlength">
                    <span>indirizzo non può essere più lunga di 30 caratteri</span>
                 </div>
              </div>
            </div>
          </div>
         </div>
<!--  cap e localita-->
         <div class="row">
           <div class="col-md-4 row">
                <label for="cap" class="col-sm-2 col-form-label">cap</label>
                <div class="col-sm-5">
                <input type="text" #cap="ngModel"  [(ngModel)]="fornitore.cap" class="form-control" name="cap" id="cap" required minlength="5" maxlength="5" pattern="[0-9]*" placeholder="cap">  <!-- [0-9a-zA-Z\s]* -->
                  <div *ngIf="cap.invalid && cap.dirty && cap.touched" class="alert-danger">
                    <div *ngIf="cap.errors.required">
                        <span>cap è obbligatoria</span>
                    </div>
                    <div *ngIf="cap.errors.minlength">
                      <span>cap deve essere di almeno 5 caratteri</span>
                    </div>
                    <div *ngIf="cap.errors.maxlength">
                        <span>cap non può essere più lunga di 5 caratteri</span>
                    </div>
                  </div>
                </div>
           </div>
           <div class="col-md-8 row">

            <label for="localita" class="col-sm-2 col-form-label">localita</label>
            <div class="col-sm-5">
            <input type="text" #localita="ngModel"  [(ngModel)]="fornitore.localita" class="form-control" name="localita" id="localita" required minlength="4" maxlength="40" pattern="[0-9a-zA-Z/\s]*" placeholder="localita">  <!-- [0-9a-zA-Z\s]* -->
              <div *ngIf="localita.invalid && localita.dirty && localita.touched" class="alert-danger">
                <div *ngIf="localita.errors.required">
                    <span>localita è obbligatoria</span>
                </div>
                <div *ngIf="localita.errors.minlength">
                  <span>localita deve essere di almeno 4 caratteri</span>
                </div>
                <div *ngIf="localita.errors.maxlength">
                    <span>localita non può essere più lunga di 40 caratteri</span>
                </div>
              </div>
            </div>

          </div>
         </div>
         <br>
<!--  telefono e emaila-->
<div class="row">
  <div class="col-md-4 row">
    <label for="telefono" class="col-sm-2 col-form-label">telefono</label>
    <div class="col-sm-5">
    <input type="text" #telefono="ngModel"  [(ngModel)]="fornitore.telefono" class="form-control" name="telefono" id="telefono" required minlength="9" maxlength="25" pattern="[0-9]*" placeholder="telefono">  <!-- [0-9a-zA-Z\s]* -->
      <div *ngIf="telefono.invalid && telefono.dirty && telefono.touched" class="alert-danger">
        <div *ngIf="telefono.errors.required">
            <span>telefono è obbligatoria</span>
        </div>
        <div *ngIf="telefono.errors.minlength">
          <span>telefono deve essere di almeno 9 caratteri</span>
        </div>
        <div *ngIf="telefono.errors.maxlength">
            <span>telefono non può essere più lunga di 25 caratteri</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 row">

   <label for="localita" class="col-sm-2 col-form-label">email</label>
   <div class="col-sm-8">
    <input type="email" #email="ngModel"  [(ngModel)]="fornitore.email" class="form-control" name="email" id="email" required minlength="4" maxlength="30" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Inserire indirizzo email">
    <div *ngIf="email.invalid && email.dirty && email.touched" class="alert-danger">
      <div *ngIf="email.errors.required">
          <span>email è obbligatoria</span>
      </div>
      <div *ngIf="email.errors?.pattern">
        <!-- non posso inserire lettere   {{postimax.errors.pattern.requiredPattern }}  -->
        inserire indirizzo email corretto
      </div>
      <div *ngIf="email.errors.maxlength">
          <span>email non può essere più lunga di 30 caratteri</span>
      </div>
    </div>
  </div>






 </div>
</div>

<!-- stato -->
<br>
<div class="row">

  <div class="col-md-6 was-validated form-inline">

    <div class="row">
      <div class="col-md-2 ">Stato</div>
      <div class="col-md-5">
          <div class="dropdown">
            <select class="btn btn-primary dropdown-toggle borde" type="button" data-toggle="dropdown" [(ngModel)]="selectedStato" ngModel name="stato" id="stato" class="form-select" required (change)="onSelectedStato($event.target.value)" aria-label="Default select example">
              <option selected value=""  >Seleziona lo Stato</option>
              <option *ngFor="let stato of stati" [value]="stato.id"  class="form-control"  >{{stato.d_stato_fornitore}}</option>
            </select>
          </div>
          <div class="invalid-feedback">effettuare la scelta dello Stato</div>
        </div>
    </div>
  </div>
  <div class="col-md-8 ">



  </div>
</div>
<br>

<div class="row">

    <div class="col-md-6 was-validated form-inline">  <!--  form-group -->
        <div class="row">
            <div class="col-md-2">Settore</div>
            <div class="col-md-5">
              <select [(ngModel)]="selectedSettore" ngModel name="settore" id="settore" class="btn btn-primary dropdown-toggle borde"  type="button" required class="form-select" (change)="onSelectedSettore($event.target.value)">
                <option value="">Seleziona il Settore</option>
                <option *ngFor="let settore of settori" [value]="settore.id"  class="form-control"  >{{settore.d_settore}}</option>
              </select>
            </div>
          <div class="invalid-feedback">effettuare la scelta del tipologisettore</div>

        </div>
    </div>



</div>
<br>
<div class="row">

    <div class="col-md-7">
      <div class="form-group row">
        <label for="importo" class="col-sm-2 col-form-label">Importo</label>
        <div class="col-sm-5">
          <input readonly type="text" #importo="ngModel"  [(ngModel)]="fornitore.importo"  class="form-control col-md-2" name="importo" id="importo" >
         </div>
      </div>
    </div>
    <div class="col-md-5">
     <!-- deve restare vuoto -->
    </div>

  </div>




       <br>
       <div class="footer" >
            <div class="row col-sm-10 offset-2">
              <div class="col-sm-3" *ngIf="functionNew || functionEdit || functionEdits ">
                <button [disabled]="fm.invalid " class="btn btn-success btn-md " (click)="conferma()">Conferma
                  <fa-icon [icon]="faSave"  fixed="true"></fa-icon>
                </button>
              </div>
              <div class="col-sm-3" *ngIf="functionNew || functionEdit || functionEdits ">
                <button [disabled]="fm.invalid " class="btn btn-primary btn-md " (click)="reset()">Reset
                  <fa-icon [icon]="faTimes"  fixed="true"></fa-icon>
                </button>
              </div>
              <div class="col-sm-3"  *ngIf="functionEdits ">
                <button [disabled]="fm.invalid " class="btn btn-danger btn-md "  (click)="open(content)"> Cancella
                  <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
                </button>
              </div>
              <div class="col-sm-3" >
                <button  class="btn btn-info btn-md "  (click)="goback()"> Ritorna
                  <fa-icon [icon]="faReply"  fixed="true"></fa-icon>
                </button>
              </div>
            </div>
       </div>
       <br>
  <!--   messaggio con esito operazione -->

       <div *ngIf="isVisible  && !alertSuccess" class="alert alert-danger" role="alert">
    <!--     <h4 class="alert-heading">Errore in Registrazione User</h4>   -->
         <p>{{Message}}</p>
         <hr>
         <p class="mb-0">{{Message1err}}</p>
       </div>
       <div *ngIf="isVisible  && alertSuccess" class="alert alert-success" role="alert">
  <!--       <h4 class="alert-heading">Registrazione User</h4>   -->
         <p>{{Message}}</p>
         <hr>
         <p class="mb-0"></p>
       </div>






      </form>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header modal-header-color">
    <h4 class="modal-title" id="modal-basic-title">Conferma Cancellazione</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <p>confermi la cancellazione del Fornitore &nbsp;&nbsp;</p>
      <p></p>
      <p><strong>{{fornitore.ragsociale}}&nbsp;</strong>&nbsp;?</p>
      <!--   esempio di calendario che funziona benissimo
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>

    <button type="button" class="btn btn-danger btn-md " (click)="modal.close('Delete click')"> Cancella
      <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
    </button>
  </div>
</ng-template>


<!-- prodotto-anag-detail1 works! -->

