<td>{{i}}</td>
<td>{{volontario.cognome}}</td>
<td>{{volontario.nome}}</td>
<td>{{volontario.email}}</td>
<td>{{volontario.cellulare}}</td>
<!-- <td class="statoMan">{{manif.d_stato_manifestazione}}</td> -->   <!--  {{manif.statoManifestazione}} - -->

<td>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-sm  btn-danger" (click)="open(content, volontario)">cancella
        <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
        </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-success" (click)="modifica(volontario)">Update
        <fa-icon [icon]="faUserEdit"  fixed="true"></fa-icon>
      </button>
    </div>

  </div>
</td>



<ng-template #content let-modal>
<div class="modal-header modal-header-color">
<h4 class="modal-title" id="modal-basic-title">Conferma Cancellazione</h4>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form>
<p>confermi la cancellazione del Volontario ?</p>


</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel
  <fa-icon [icon]="faWindowClose" fixed="true"></fa-icon>
</button>

<button type="button" class="btn btn-danger btn-md " (click)="modal.close('Delete click')"> Cancella
  <fa-icon [icon]="faTrash" fixed="true"></fa-icon>
</button>
</div>
</ng-template>
