<div class="container">
 <div class="card">
  <div class="form-group row">
      <div class="center-block centrata">
        <img src="assets/images/logoSanfra.png"   alt="logo" class="img-circle" width="80px" height="80px">
        <p style="text-align:center">Conferma Cambio Password</p>
      </div>
  </div>
  <br>
  <div class="card-body">
    <form name="changepwdForm"  #changepwdForm=ngForm (ngSubmit)="onSubmit(changepwdForm)">
    <h2>Gestione Accesso Nuovo Utente</h2>
    <br>
      <p>La ringraziamo per essersi registrato</p>
      <p>per questo suo primo accesso si rende necessario l'immediato cambio password</p>
      <p>La preghiamo pertanto di voler compilare il for msottostante per poter rendere attive le sue credenziali d'accesso</p>
    </form>
  </div>
</div>


</div>
