<div class="container">

 <br>
 <strong>{{title}}</strong>
 <br>


 <div class="container-fluid">
    <div class="row col-md-8 offset-1">


      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tabella</th>
            <th style="text-align: center ">gestione</th>
          </tr>
        </thead>
        <tbody>
          <tr app-tabella *ngFor ="let tabella of tabelle | paginate: { itemsPerPage: 5, currentPage: p }; let i = index "
            [tabella-prog] = i+1
            [tabella-data] = "tabella"
            (onSelectTabella) ="onSelectTabella($event)"
            (esitoTabella) ="esitoTabella($event)"
            >
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)='p = $event' id='uno'></pagination-controls>
    </div>
    <hr>
      <div *ngIf="SelectTabella === true">
        <label  class="col-sm-2 col-form-label">Tabella Selezionata:</label> &nbsp;&nbsp; <strong style="color: red">{{nameTselected}}</strong>
      </div>
        <br>
        <div *ngIf="enabledSelectTabella === true">
        <div class="row col-md-8 offset-1">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descrizione</th>
                  <th style="text-align: center ">gestione</th>
                </tr>
              </thead>
              <tbody>
                <tr app-tabella-tw-dett  *ngFor ="let tabellatwdett of tabelletwdett | paginate: { itemsPerPage: 5, currentPage: p_e }; let ind = index"
                [tabella-tw-dett-prog] = ind+1
                [tabella-tw-dett-data] = "tabellatwdett"
                (onUpdateTabella) ="onUpdateTabella($event)"
                >
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)='p_e = $event'  id='due'></pagination-controls>
        </div>
    </div>
 </div>


    <div class="row col-md-12">
      <!-- messaggi -->
      <div *ngIf="!alertSuccess && isVisible" class="alert alert-danger" role="alert">
        <!--   <h4 class="alert-heading">Errore in elenco</h4>    -->
           <p>{{Message}}</p>
           <hr>
         </div>
         <div *ngIf="alertSuccess && isVisible" class="alert alert-success" role="alert">
         <!--   <h4 class="alert-heading">Modifca Password</h4>    -->
           <p>{{Message}}</p>
         </div>
    </div>




</div>
<notifier-container></notifier-container>






