<td>{{i}}</td>
<td>{{prenotazione.cognome}}</td>
<td>{{prenotazione.nome}}</td>
<td>{{prenotazione.persone}}</td>
<td>{{prenotazione.telefono}}</td>
<td>{{prenotazione.email}}</td>

<td class="buttons">
  <div class="row">
    <div class="col-sm-4">
              <button   class="btn btn-primary  btn-sm" (click)="selectedPrenotazione()">
                <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>

     <!-- <button   class="btn btn-primary  btn-sm" (click)="showMessaDetail()"> -->
       <!--  <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>  -->
          <!--  <fa name="fainfo" fixed="true" ></fa>  -->
      </button>
    </div>
  </div>
</td>

