.borde {
  border: 2px solid red;
}
.borde1 {
  border: 2px solid violet;
}
<<<<<<< HEAD
=======
.borde2 {
  border: 2px solid green;
}
.borde3 {
  border: 2px solid blue;
}
>>>>>>> d8eac67 (registrazione corretta)
td {
  font-size: 12px;
}
